@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* General Styles */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

/* Body */

body {
	background-color: #131b23;
	color: #e9f1f7;
}

.title {
	font-size: 3em;
	color: #e9f1f7;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 6vh;
}

/* Div Containing Visualization */

#visual {
	background-color: #131b23;
	border: 7px solid #816c61;
	padding-left: 25px;
	padding-right: 25px;
	height: 55vh;
	width: 85%;
	margin: 3em;
	margin-bottom: 4em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.bar-element {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 55vh;
	position: relative;
}

.num-text {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 5px;
	font-size: 2em;
}

.bar-element:hover {
	cursor: pointer;
}

.bar-element:hover .bar {
	background-color: #e9f1f7 !important;
}

.bar-element:hover .num-text {
	display: block;
}

/* makes the bar scale up in size slightly*/
.grow:hover .bar {
	transform: scale(1.35);
}

/* Controls */

.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 65%;
	flex-wrap: wrap;
}

label {
	font-weight: 700;
	font-size: 1.5em;
	color: #2274a5;
	margin-right: 10px;
}

.select-box {
	font-weight: 700;
	font-size: 1.5em;
	color: #2274a5;
	background-color: #131b23;
	border-color: #2274a5;
	border-width: 0.2em;
	border-radius: 6px;
}

#sort-btn {
	display: inline-block;
	padding: 0.5em 1.8em;
	border: 0.2em solid #2274a5;
	margin: 1 0.3em 0.3em 1;
	border-radius: 0.12em;
	text-decoration: none;
	font-weight: 700;
	font-size: 1.5em;
	background-color: #131b23;
	color: #2274a5;
	text-align: center;
	transition: all 0.2s;
}

#sort-btn:hover {
	color: #131b23;
	background-color: #2274a5;
	cursor: pointer;
}

.slider {
	background: #e9f1f7;
}

.slider ::-webkit-slider-thumb {
	cursor: pointer;
}
